# for backend
*.iml
/.idea
**/target/
.classpath
.project
.DS_Store
.gitattributes

# for fontend
node_modules/
dist/
.vite/
package-lock.json
auto-imports.d.ts
/xxl-ai-api/src/main/resources/static/favicon.ico
/xxl-ai-api/src/main/resources/static/ie.html
/xxl-ai-api/src/main/resources/static/static/

# for ai
.opencode
.omo
.claude
.specify
specs
xxl-ai-spec